html{
    background-color: rgb(255, 255, 255);
}

.box
{
    width: 350px;
    font-family: trebuchet ms;
    font-size: 25px;
    text-align: center;
    padding:25px;
    margin:25px;
    border:solid 1px rgb(204, 167, 167);
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    
}